body {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 90%;
    margin: 0px auto;
}

.header {
    background-color: black;
    border-radius: 20px;
    padding: 50px 30px 0px 60px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.head {
    color: rgb(218, 211, 211);
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.head h1 {
    font-size: 68px;
    line-height: 80px;
    font-weight: 700;
    margin: 10px 0px;
}

.head p {
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    margin: 40px 0px;
}

.head button {
    height: 55px;
    width: 180px;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    color: rgb(218, 211, 211);
    background-color: red;
    font-family: 'Poppins', sans-serif;
    border: 0px;
    border-radius: 7px;
    cursor: pointer;
    position: relative;
    transition: transform .5s;
}

.head button:hover {
    transform: translate(50px);
}

.head .fa-chevron-right {
    margin-left: 15px;
}

.header-image img {
    width: 100%;
    height: 100%;
}

.players-draft {
    margin: 80px 0px;
}

.blogs-area {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.l-blogs {
    width: 24%;
}

.r-blogs {
    width: 74%;
}

.l-blogs ul {
    display: flex;
    background-color: #000;
    padding: 20px;
    flex-direction: column;
    justify-content: center;
    margin: 0px;
    border-radius: 5px;
}

.l-blogs ul li {
    list-style: none;
    margin: 5px 0px;
    background-color: white;
    height: 60px;
    width: 100%;
    text-align: center;
    align-items: center;
    border-radius: 7px;
    border: 0px solid rgb(214, 214, 214);
}

.l-blogs ul li a {
    text-decoration: none;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: #000;
}

.active {
    background-color: red !important;
}

.active a {
    color: rgb(218, 211, 211) !important;
}

.r-b-area {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
}

.blog {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    width: 30%;
    border: 1px solid rgb(168, 167, 167);
    margin: 0px 0px 20px 0px;
}

.blogContents {
    padding: 19px 15px 15px 15px;
}

.blog a {
    margin: 10px 0px;
    text-decoration: none;
    padding: 6px 10px;
    color: #000;
    border: 1px solid black;
    font-size: 16px;
    border-radius: 5px;
    width: 70px;
}

.blog h3 {
    margin: 15px 0px;
    font-size: 18px;
}

.blog ul {
    padding-left: 0px;
    display: flex;
    margin: 10px 0px 0px 0px;
}

.blog ul li {
    list-style: none;
    padding-right: 15px;
}

.m-btn {
    width: 100%;
    display: flex;
    justify-content: center;
}

.m-btn button {
    height: 55px;
    width: 180px;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    background-color: red;
    font-family: 'Poppins', sans-serif;
    border: 0px;
    border-radius: 7px;
    display: none;
}

.footer {
    background-color: #000;
    padding: 30px 0px;
}

.footerTitle h3 {
    color: #fff;
    font-size: 40px;
    margin: 0px;
    padding: 80px 0px;
    text-align: center;
}

.hr {
    width: 80%;
    color: gray;
    margin-top: 0px;
    margin-bottom: 50px;

}

.footer-menu ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 15px 0px;
    margin: 0px;

}

.footer-menu ul li {
    list-style: none;
    margin: 10px 15px;
}

.footer-menu ul li a {
    text-decoration: none;
    color: rgb(212, 212, 212);
}

.m-blog {
    width: 30%;
}

.team-flags span {
    font-size: 16px;
    font-weight: 700;
}

.team-flags {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.m-blog {
    width: 26%;
    border: 1px solid #b5b4b4;
    border-radius: 7px;
    padding: 40px 25px;
    text-align: center;
    margin: 10px 0px;
}

.m-blog p {
    margin: 0px 0px;
    color: rgb(94, 94, 94);
}

.m-blog h2 {
    font-size: 20px;
}

@media (max-width: 600px) {
    .header {
        grid-template-columns: repeat(1, 1fr);
        padding: 40px 30px 0px 30px;
    }

    .head {
        align-items: center;
        text-align: center;
    }

    .head h1 {
        font-size: 30px;
        line-height: 45px;
    }

    .head p {
        font-size: 14px;
        margin: 20px 0px;
    }

    .head button {
        height: 40px;
        width: 160px;
    }

    .l-blogs ul {
        flex-direction: column;
        background-color: transparent;
    }

    .blogs-area {
        flex-direction: column;
    }

    .l-blogs {
        width: 100%;
    }

    .l-blogs ul {
        flex-direction: column;
        background-color: transparent;
    }

    .l-blogs ul li {
        margin: 10px 0px;
        border: 1px solid rgb(214, 214, 214);
    }

    .r-blogs {
        width: 100%;
    }

    .blog {
        width: 100%;
    }

    .footerTitle h3 {
        color: #fff;
        font-size: 40px;
        margin: 0px;
        padding: 40px 0px;
    }

    .m-blog {
        width: 100%;
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    .header {
        grid-template-columns: repeat(1, 1fr);
    }

    .head {
        align-items: center;
        text-align: center;

    }

    .head h1 {
        font-size: 45px;
        line-height: 55px;
    }

    .head p {
        font-size: 14px;
        margin: 20px 0px;
    }

    .l-blogs ul {
        flex-direction: row;
        background-color: transparent;
    }

    .blogs-area {
        flex-direction: column;
    }

    .l-blogs {
        width: 100%;
    }

    .l-blogs ul {
        flex-direction: row;
        background-color: transparent;
    }

    .l-blogs ul li {
        margin: 0px 10px;
        border: 1px solid rgb(214, 214, 214);
    }

    .r-blogs {
        width: 100%;
    }

    .blog {
        width: 48%;
    }

    #blog {
        display: none;
    }

    .m-btn button {
        display: block;
    }

    .m-blog {
        width: 100%;
    }

}

@media (min-width: 768px) and (max-width: 992px) {

    .head h1 {
        font-size: 45px;
        line-height: 55px;
    }

    .head p {
        font-size: 14px;
        margin: 20px 0px;
    }

    .head button {
        height: 45px;
        width: 150px;
        font-size: 14px;

    }

    .blogs-area {
        flex-direction: column;
    }

    .l-blogs {
        width: 100%;
    }

    .l-blogs ul {
        flex-direction: row;
        background-color: transparent;
    }

    .l-blogs ul li {
        margin: 0px 10px;
        border: 1px solid rgb(214, 214, 214);
    }

    .r-blogs {
        width: 100%;
    }

    .blog {
        width: 48%;
    }

    #blog {
        display: none;
    }

    .m-btn button {
        display: block;
    }

    .m-blog {
        width: 40%;
    }

}

@media (min-width: 992px) and (max-width: 1199px) {
    .head h1 {
        font-size: 55px;
        line-height: 70px;
    }

    .m-blog {
        width: 40%;
    }
}

